{% extends 'base.html' %}
{% load static %}
{% block content%}
<form id="registerform" >
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>
    <label for="psw-repeat"><b>Username</b></label>
    <input type="Text" placeholder="Enter Username" name="username" id="username" required>

    <label for="psw-repeat"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" id="address" required>
    <hr>
    <div id="result"></div>


    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="{% url 'home' %}"  >Sign in</a>.</p>
  </div>
</form>
<script type="text/javascript">

  $( "#registerform" ).submit(function( event ) {

    event.preventDefault();

    var $form = $( this ),
      email = $form.find( "input[name='email']" ).val(),
      password=$form.find( "input[name='psw']" ).val(),
      cpassword=$form.find( "input[name='psw-repeat']" ).val(),
      username= $form.find( "input[name='username']" ).val(),
      address = $form.find( "input[name='address']" ).val()

        if (password!=cpassword) {
            $( "#result" ).empty().append("passwords did not match" );
        } else {



      data={
        "email": email,"password": password,"username":username,"address":address
      }
      url = "http://127.0.0.1:8000/api/register";
      $.ajax({
       type: "POST",
       url: url,
       data: data,
       success: function(data){
         document.location.href ="{% url 'home' %}"


       },
       error: function(error_data){
            $( "#result" ).empty().append(error_data.responseJSON.detail );
       },
     });
}}
);



</script>


{% endblock content %}
